<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Itamarati_ControleDeProducao.DAO.Properties.Settings.dboStringDeConexao"
            connectionString="server=server-pc;uid=Itamarati;pwd=carleson;database=itamarati_controledeproducao;" />
    </connectionStrings>
</configuration>